SpireLabs/bin/

*.cache

SpireLabs/obj/

.vs/

.vs\

*.vsidx

.idea/
.vs/ObscureLabs/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/ObscureLabs/CopilotIndices/17.14.1641.39856/CodeChunks.db
